---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bank of America PDF to CSV">
	<main>
		<svg
			class="logo"
			width="1049.211"
			xmlns="http://www.w3.org/2000/svg"
			height="1041.147"
			id="screenshot-f0797172-89e2-803b-8004-456f195825f4"
			viewBox="-83 -638 1049.211 1041.147"
			style="-webkit-print-color-adjust::exact"
			xmlns:xlink="http://www.w3.org/1999/xlink"
			fill="none"
			version="1.1"
		>
			<g id="shape-f0797172-89e2-803b-8004-456f195825f4" rx="0" ry="0">
				<g id="shape-f0797172-89e2-803b-8004-4563b1453b6f">
					<g class="fills" id="fills-f0797172-89e2-803b-8004-4563b1453b6f">
						<rect
							rx="0"
							ry="0"
							x="-83"
							y="-638"
							transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)"
							width="1000.0000000000001"
							height="1006"
							style="fill:#dadada;fill-opacity:1"
						>
						</rect>
					</g>
				</g>
				<g id="shape-f0797172-89e2-803b-8004-4565bb71a094" rx="0" ry="0">
					<g id="shape-f0797172-89e2-803b-8004-45633ce53bd0">
						<g
							class="fills"
							id="fills-f0797172-89e2-803b-8004-45633ce53bd0"
						>
							<rect
								rx="0"
								ry="0"
								x="-31"
								y="-585"
								transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)"
								width="174.3640081799591"
								height="114.31034482758616"
								style="fill:#292929;fill-opacity:1"
							>
							</rect>
						</g>
					</g>
					<g id="shape-f0797172-89e2-803b-8004-456397aac5c9">
						<g
							class="fills"
							id="fills-f0797172-89e2-803b-8004-456397aac5c9"
						>
							<rect
								rx="0"
								ry="0"
								x="-31"
								y="-291.6782490463422"
								transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)"
								width="174.3640081799591"
								height="114.31034482758619"
								style="fill:#292929;fill-opacity:1"
							>
							</rect>
						</g>
					</g>
					<g id="shape-f0797172-89e2-803b-8004-4567794d35bc">
						<g
							class="fills"
							id="fills-f0797172-89e2-803b-8004-4567794d35bc"
						>
							<rect
								rx="0"
								ry="0"
								x="-31"
								y="-143"
								transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)"
								width="174.3640081799591"
								height="114.31034482758619"
								style="fill:#292929;fill-opacity:1"
							>
							</rect>
						</g>
					</g>
					<g id="shape-f0797172-89e2-803b-8004-45678c6fb3d4">
						<g
							class="fills"
							id="fills-f0797172-89e2-803b-8004-45678c6fb3d4"
						>
							<rect
								rx="0"
								ry="0"
								x="-32"
								y="3"
								transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)"
								width="174.3640081799591"
								height="114.31034482758619"
								style="fill:#292929;fill-opacity:1"
							>
							</rect>
						</g>
					</g>
					<g id="shape-f0797172-89e2-803b-8004-4567922abcd3">
						<g
							class="fills"
							id="fills-f0797172-89e2-803b-8004-4567922abcd3"
						>
							<rect
								rx="0"
								ry="0"
								x="-31"
								y="147"
								transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)"
								width="174.3640081799591"
								height="114.31034482758616"
								style="fill:#292929;fill-opacity:1"
							>
							</rect>
						</g>
					</g>
					<g id="shape-f0797172-89e2-803b-8004-45636b830945">
						<g
							class="fills"
							id="fills-f0797172-89e2-803b-8004-45636b830945"
						>
							<rect
								rx="0"
								ry="0"
								x="173.22085889570548"
								y="-585"
								transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)"
								width="174.36400817995906"
								height="114.31034482758594"
								style="fill:#292929;fill-opacity:1"
							>
							</rect>
						</g>
					</g>
					<g id="shape-f0797172-89e2-803b-8004-45648b3cbc94">
						<g
							class="fills"
							id="fills-f0797172-89e2-803b-8004-45648b3cbc94"
						>
							<rect
								rx="0"
								ry="0"
								x="378.6359918200409"
								y="-585"
								transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)"
								width="174.36400817995911"
								height="114.31034482758594"
								style="fill:#292929;fill-opacity:1"
							>
							</rect>
						</g>
					</g>
					<g id="shape-f0797172-89e2-803b-8004-45636dd19ff7">
						<g
							class="fills"
							id="fills-f0797172-89e2-803b-8004-45636dd19ff7"
						>
							<rect
								rx="0"
								ry="0"
								x="173.22085889570548"
								y="-435.51724137931046"
								transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)"
								width="174.36400817995906"
								height="114.31034482758622"
								style="fill:#292929;fill-opacity:1"
							>
							</rect>
						</g>
					</g>
					<g id="shape-f0797172-89e2-803b-8004-456397aac5c7">
						<g
							class="fills"
							id="fills-f0797172-89e2-803b-8004-456397aac5c7"
						>
							<rect
								rx="0"
								ry="0"
								x="173.22085889570548"
								y="-291.3103448275862"
								transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)"
								width="174.36400817995906"
								height="114.31034482758619"
								style="fill:#292929;fill-opacity:1"
							>
							</rect>
						</g>
					</g>
					<g id="shape-f0797172-89e2-803b-8004-4567794d35bd">
						<g
							class="fills"
							id="fills-f0797172-89e2-803b-8004-4567794d35bd"
						>
							<rect
								rx="0"
								ry="0"
								x="172.99999999999997"
								y="-143"
								transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)"
								width="174.36400817995903"
								height="114.31034482758619"
								style="fill:#292929;fill-opacity:1"
							>
							</rect>
						</g>
					</g>
					<g id="shape-f0797172-89e2-803b-8004-45678c6fb3d5">
						<g
							class="fills"
							id="fills-f0797172-89e2-803b-8004-45678c6fb3d5"
						>
							<rect
								rx="0"
								ry="0"
								x="171.99999999999997"
								y="3"
								transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)"
								width="174.36400817995903"
								height="114.31034482758619"
								style="fill:#292929;fill-opacity:1"
							>
							</rect>
						</g>
					</g>
					<g id="shape-f0797172-89e2-803b-8004-4567922abcd4">
						<g
							class="fills"
							id="fills-f0797172-89e2-803b-8004-4567922abcd4"
						>
							<rect
								rx="0"
								ry="0"
								x="172.99999999999997"
								y="147"
								transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)"
								width="174.36400817995903"
								height="114.31034482758616"
								style="fill:#292929;fill-opacity:1"
							>
							</rect>
						</g>
					</g>
					<g id="shape-f0797172-89e2-803b-8004-45648b3cbc92">
						<g
							class="fills"
							id="fills-f0797172-89e2-803b-8004-45648b3cbc92"
						>
							<rect
								rx="0"
								ry="0"
								x="378.6359918200409"
								y="-435.51724137931046"
								transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)"
								width="174.36400817995911"
								height="114.31034482758622"
								style="fill:#292929;fill-opacity:1"
							>
							</rect>
						</g>
					</g>
					<g id="shape-f0797172-89e2-803b-8004-456372e7fa39">
						<g
							class="fills"
							id="fills-f0797172-89e2-803b-8004-456372e7fa39"
						>
							<rect
								rx="0"
								ry="0"
								x="-31"
								y="-436.5284964308646"
								transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)"
								width="174.3640081799591"
								height="114.31034482758622"
								style="fill:#292929;fill-opacity:1"
							>
							</rect>
						</g>
					</g>
					<g id="shape-f0797172-89e2-803b-8004-45648b3cbc93">
						<g
							class="fills"
							id="fills-f0797172-89e2-803b-8004-45648b3cbc93"
						>
							<rect
								rx="0"
								ry="0"
								x="378.6359918200409"
								y="-291.3103448275862"
								transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)"
								width="174.36400817995911"
								height="114.31034482758619"
								style="fill:#292929;fill-opacity:1"
							>
							</rect>
						</g>
					</g>
					<g id="shape-f0797172-89e2-803b-8004-4567794d35be">
						<g
							class="fills"
							id="fills-f0797172-89e2-803b-8004-4567794d35be"
						>
							<rect
								rx="0"
								ry="0"
								x="379"
								y="-143"
								transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)"
								width="174.36400817995911"
								height="114.31034482758619"
								style="fill:#292929;fill-opacity:1"
							>
							</rect>
						</g>
					</g>
					<g id="shape-f0797172-89e2-803b-8004-45678c6fb3d6">
						<g
							class="fills"
							id="fills-f0797172-89e2-803b-8004-45678c6fb3d6"
						>
							<rect
								rx="0"
								ry="0"
								x="378"
								y="3"
								transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)"
								width="174.36400817995911"
								height="114.31034482758619"
								style="fill:#292929;fill-opacity:1"
							>
							</rect>
						</g>
					</g>
					<g id="shape-f0797172-89e2-803b-8004-4567922abcd5">
						<g
							class="fills"
							id="fills-f0797172-89e2-803b-8004-4567922abcd5"
						>
							<rect
								rx="0"
								ry="0"
								x="379"
								y="147"
								transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)"
								width="174.36400817995911"
								height="114.31034482758616"
								style="fill:#292929;fill-opacity:1"
							>
							</rect>
						</g>
					</g>
				</g>
				<g id="shape-f0797172-89e2-803b-8004-4565e61ae05e" rx="0" ry="0">
					<g id="shape-f0797172-89e2-803b-8004-4565cda42904">
						<defs>
							<filter
								id="filter-render-209"
								x="-0.13772291755253183"
								y="-0.14502998414802823"
								width="1.2938088907787346"
								height="1.3384032963453991"
								filterUnits="objectBoundingBox"
								color-interpolation-filters="sRGB"
							>
								<feFlood flood-opacity="0" result="BackgroundImageFix">
								</feFlood>
								<feColorMatrix
									in="SourceAlpha"
									type="matrix"
									values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
								>
								</feColorMatrix>
								<feMorphology
									radius="15"
									operator="dilate"
									in="SourceAlpha"
									result="filter_f0797172-89e2-803b-8004-45681d447b58"
								>
								</feMorphology>
								<feOffset dx="4" dy="10"> </feOffset>
								<feGaussianBlur stdDeviation="5"> </feGaussianBlur>
								<feColorMatrix
									type="matrix"
									values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0"
								>
								</feColorMatrix>
								<feBlend
									mode="normal"
									in2="BackgroundImageFix"
									result="filter_f0797172-89e2-803b-8004-45681d447b58"
								>
								</feBlend>
								<feBlend
									mode="normal"
									in="SourceGraphic"
									in2="filter_f0797172-89e2-803b-8004-45681d447b58"
									result="shape"
								>
								</feBlend>
							</filter>
							<filter
								id="filter-shadow-render-209"
								x="-0.13772291755253183"
								y="-0.14502998414802823"
								width="1.2938088907787346"
								height="1.3384032963453991"
								filterUnits="objectBoundingBox"
								color-interpolation-filters="sRGB"
							>
								<feFlood flood-opacity="0" result="BackgroundImageFix">
								</feFlood>
								<feColorMatrix
									in="SourceAlpha"
									type="matrix"
									values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
								>
								</feColorMatrix>
								<feMorphology
									radius="15"
									operator="dilate"
									in="SourceAlpha"
									result="filter_f0797172-89e2-803b-8004-45681d447b58"
								>
								</feMorphology>
								<feOffset dx="4" dy="10"> </feOffset>
								<feGaussianBlur stdDeviation="5"> </feGaussianBlur>
								<feColorMatrix
									type="matrix"
									values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0"
								>
								</feColorMatrix>
								<feBlend
									mode="normal"
									in2="BackgroundImageFix"
									result="filter_f0797172-89e2-803b-8004-45681d447b58"
								>
								</feBlend>
								<feBlend
									mode="normal"
									in="SourceGraphic"
									in2="filter_f0797172-89e2-803b-8004-45681d447b58"
									result="shape"
								>
								</feBlend>
							</filter>
						</defs>
						<g
							class="fills"
							id="fills-f0797172-89e2-803b-8004-4565cda42904"
						>
							<rect
								rx="90"
								ry="90"
								x="210.72542948368095"
								y="-337.4145714457012"
								transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)"
								width="653.4860108933663"
								height="620.5613310151051"
								filter="url(#filter-render-209)"
								style="fill:#ffffff;fill-opacity:1"
							>
							</rect>
						</g>
					</g>
					<g id="shape-f0797172-89e2-803b-8004-45667391caaa">
						<g
							class="fills"
							id="fills-f0797172-89e2-803b-8004-45667391caaa"
						>
							<rect
								rx="0"
								ry="0"
								x="443.03481344816305"
								y="-253.266959719509"
								transform="matrix(0.664124, 0.747623, -0.780466, 0.625198, 50.788843, -484.820983)"
								width="234.40538325757598"
								height="154.48357816880952"
								style="fill:#a92828;fill-opacity:1"
							>
							</rect>
						</g>
					</g>
					<g id="shape-f0797172-89e2-803b-8004-456695922ad0">
						<g
							class="fills"
							id="fills-f0797172-89e2-803b-8004-456695922ad0"
						>
							<rect
								rx="0"
								ry="0"
								x="401.7315462608418"
								y="-15.256603294844595"
								transform="matrix(0.780466, -0.625198, 0.664124, 0.747623, 91.883916, 393.113810)"
								width="404.5998475849768"
								height="153.14485039494923"
								style="fill:#a92828;fill-opacity:1"
							>
							</rect>
						</g>
					</g>
					<g id="shape-f0797172-89e2-803b-8004-45667e4927e6">
						<g
							class="fills"
							id="fills-f0797172-89e2-803b-8004-45667e4927e6"
						>
							<rect
								rx="0"
								ry="0"
								x="307.25276169352685"
								y="-89.47894895541513"
								transform="matrix(0.780466, -0.625198, 0.664124, 0.747623, 101.171193, 260.452216)"
								width="229.09809551564888"
								height="153.14485039494917"
								style="fill:#191bcc;fill-opacity:1"
							>
							</rect>
						</g>
					</g>
				</g>
			</g>
		</svg>
		<h1>Bank of America <span class="text-gradient">PDF to CSV</span></h1>
		<p class="instructions">
			To get started, please select your PDF statements for conversion.
		</p>
		<button>This is a non-functioning button</button>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 1000px;
		max-width: calc(100% - 2rem);
		color: rgb(26, 26, 26);
		font-size: 20px;
		line-height: 1.6;
	}

	.logo {
		position: relative;
		top: 1.5rem;
		left: 50%;
		transform: translateX(-50%) scale(0.8);
		width: 200px;
		height: auto;
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
